<template>
  <div class="auth">
    <p>Receiving OIDC authentication</p>
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from 'vue';
import { OidcService } from '@/services/OidcService';

const oidcService = new OidcService();

onMounted(async () => {
  await oidcService.loginAuthorizationCodeFlowWithPkcePopupCallback();
});
</script>
