<template>
  <div class="auth">
    <p>Receiving OIDC authentication</p>
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { OidcService } from '@/services/OidcService';

const oidcService = new OidcService();

const router = useRouter();

onMounted(async () => {
  await oidcService.loginAuthorizationCodeFlowWithPkceRedirectCallback();
  await router.push('/');
});
</script>
