<template>
  <div class="home">
    <oidc-configuration v-if="oidcUser === null" />
    <div v-if="oidcUser === null">
      <div class="boxed">
        <p>Using "Authorization Code Flow with PKCE"</p>
        <p v-if="requestEmail"><label for="email">email:
            <input id="email" type="text" v-model="email" size="20" />
          </label></p>
        <input type="button" value="Login (with redirect)"
          @click="loginAuthorizationCodeRedirect" />
        <input type="button" value="Login (with popup)" @click="loginAuthorizationCodePopup" />
      </div>
      <div class="boxed">
        <p>Using "Resource Owner Password Credential Flow"</p>
        <label for="username">Username:
          <input type="text" id="username" v-model="username" />
        </label>
        <label for="password">Password: <input type="text" id="password"
            v-model="password" /></label>
        <input type="button" value="Login" @click="loginResourceOwner" />
        <p class="loginError" v-if="loginError !== null">{{ loginError }}</p>
      </div>
    </div>
    <div v-else>
      <input type="button" value="Logout (Keycloak only)" @click="logout" />
      <input type="button" value="Account (Keycloak only)" @click="account" />
    </div>
    <user-details v-if="oidcUser !== null" :oidc-user="oidcUser" />
    <div class="externalIdpTokens" v-if="oidcExternalIdpToken !== null">
      <p>External IdP tokens</p>
      <tokens-details :id-token="oidcExternalIdpToken.id_token"
        :access-token="oidcExternalIdpToken.access_token"
        :refresh-token="oidcExternalIdpToken.refresh_token" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import {
  onMounted,
  ref,
  watch,
  computed,
} from 'vue';
import { ErrorResponse, User } from 'oidc-client-ts';
import { oidcService, getExternalIdpToken, ExternalIdpToken } from '@/services/OidcService';
import UserDetails from '@/components/UserDetails.vue';
import TokensDetails from '@/components/TokensDetails.vue';
import OidcConfiguration from '@/components/OidcConfiguration.vue';
import { ConfigurationService } from '@/services/ConfigurationService';

const oidcUser = ref(null as User | null);
const oidcExternalIdpToken = ref(null as ExternalIdpToken | null);
const username = ref('aaa');
const password = ref('a');
const defaultEmail = ConfigurationService.idp.includes('HINT') ? 'a@j.com' : '';
const email = ref(defaultEmail);
const loginError = ref(null as string | null);
const ACCOUNT_PATH = 'account';
const INVALID_GRANT = 'invalid_grant';
const requestEmail = computed(() => ConfigurationService.idp.includes('HINT'));

onMounted(async () => {
  console.log('oidc-vue home Mounted');
  oidcService.addUserLoadedCallback(async (user: User) => {
    oidcUser.value = user;
    oidcExternalIdpToken.value = await getExternalIdpToken(user);
  });
  oidcService.addSilentRenewErrorCallback((error: Error) => {
    console.log(error);
    if (
      (error instanceof ErrorResponse)
      && ((error as ErrorResponse).error === INVALID_GRANT)
    ) {
      // eslint-disable-next-line
      alert(`Session expired, login again`);
      oidcUser.value = null;
      oidcExternalIdpToken.value = null;
    } else {
      // eslint-disable-next-line
      alert(`Unexpected error refreshing tokens ${error}`);
    }
  });
  oidcUser.value = await oidcService.getUser();
  oidcExternalIdpToken.value = await getExternalIdpToken(oidcUser.value);
});

async function loginAuthorizationCodeRedirect() {
  await oidcService.loginAuthorizationCodeFlowWithPkceRedirect(email.value);
}

async function loginAuthorizationCodePopup() {
  await oidcService.loginAuthorizationCodeFlowWithPkcePopup(email.value);
}

async function loginResourceOwner() {
  try {
    await oidcService.loginResourceOwnerPasswordFlow(username.value, password.value);
  } catch (e) {
    loginError.value = `${e}`;
    if (e instanceof ErrorResponse) {
      loginError.value = `${(e as ErrorResponse).message}`;
    }
    console.log(loginError.value);
  }
}

async function cleanLoginError() {
  loginError.value = null;
}

watch(username, cleanLoginError);
watch(password, cleanLoginError);

async function logout() {
  try {
    await oidcService.logout();
  } catch (e) {
    console.warn(e);
  }
  oidcUser.value = await oidcService.getUser();
}

async function account() {
  window.location.href = ConfigurationService.idp + ACCOUNT_PATH;
}

</script>

<style scoped>
.boxed {
  border: 1px solid black;
}

.loginError {
  color: red;
}

.home {
  text-align: left;
}

.externalIdpTokens {
  color: lightgray
}
</style>
