<template>
  <div>
    <p>
      Configuration <input type="button" value="Reset" @click="reset" />
      <input type="button" value="Save" @click="save" />
      &nbsp;<a href="https://gitlab.com/javier-sedano/oidc-vue/-/tree/master#idp">Documentation</a>
    </p>
    <p>
      <label for="idp">IdP: <input id="idp" v-model="idp" size="50" /></label>
    </p>
    <p>
      <label for="clientId">Client Id: <input id="clientId" v-model="clientId" size="50" /></label>
    </p>
    <p>
      <label for="clientSecret"
        >Client Secret: <input id="clientSecret" v-model="clientSecret" size="50"
      /></label>
    </p>
    <p>
      <label for="scope">Scope: <input id="scope" v-model="scope" size="50" /></label>
    </p>
    <p>
      <label for="baseUrl">App base URL: <input id="baseUrl" v-model="baseUrl" size="50" /></label>
    </p>
    <p>
      <label for="backend"
        >Backend endpoint: <input id="backend" v-model="backend" size="50"
      /></label>
    </p>
    <p>
      <label for="extraQueryParamsJson">
        <div class="extraQueryParam">
          Extra query params (json):&nbsp;
          <span class="extraQueryParamTooltip">
            <p>Example: {"ui_locales": "es-ES"}</p>
            <p>
              <a href="https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest">spec</a>
            </p>
          </span>
        </div>
        <input id="extraQueryParamsJson" v-model="extraQueryParamsJson" size="50" />
      </label>
      <!-- <a href="https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest">examples</a>): -->
    </p>
  </div>
</template>

<style scoped>
.extraQueryParam {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.extraQueryParam .extraQueryParamTooltip {
  visibility: hidden;
  width: 250px;
  background-color: #888;
  color: #fff;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.extraQueryParam .extraQueryParamTooltip p {
  margin: 1px;
}

.extraQueryParam:hover .extraQueryParamTooltip {
  visibility: visible;
}
</style>

<script lang="ts" setup>
import { ref } from 'vue';
import { ConfigurationService } from '@/services/ConfigurationService';

const idp = ref(ConfigurationService.idp);
const clientId = ref(ConfigurationService.clientId);
const clientSecret = ref(ConfigurationService.clientSecret);
const scope = ref(ConfigurationService.scope);
const baseUrl = ref(ConfigurationService.baseUrl);
const backend = ref(ConfigurationService.backend);
const extraQueryParamsJson = ref(ConfigurationService.extraQueryParamsJson);

function reset() {
  ConfigurationService.reset();
  window.location.reload();
}

function save() {
  console.log(idp.value);
  ConfigurationService.idp = idp.value;
  ConfigurationService.clientId = clientId.value;
  ConfigurationService.clientSecret = clientSecret.value;
  ConfigurationService.scope = scope.value;
  ConfigurationService.baseUrl = baseUrl.value;
  ConfigurationService.backend = backend.value;
  ConfigurationService.extraQueryParamsJson = extraQueryParamsJson.value;
  window.location.reload();
}
</script>
