<template>
  <div>
    <p>id-token:</p>
    <pre>{{ idTokenJson }}</pre>
    <p>access-token:</p>
    <pre>{{ accessTokenJson }}</pre>
    <p>refresh-token:</p>
    <pre>{{ refreshTokenJson }}</pre>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { jwt2String } from '@/services/OidcService';

// eslint-disable-next-line
const props = defineProps<{ idToken?: string, accessToken?: string, refreshToken?: string }>();

const idTokenJson = computed(() => jwt2String(props.idToken));
const accessTokenJson = computed(() => jwt2String(props.accessToken));
const refreshTokenJson = computed(() => jwt2String(props.refreshToken));

</script>

<style scoped lang="scss">
pre {
  white-space: pre-wrap;
}
</style>
