<template>
  <div>
    <input type="button" value="API call" @click="apiCall" />
    <p>Sub: {{ props.oidcUser.profile.sub }} Exp: {{ expire }}</p>
    <p>oidc-user:</p>
    <pre>{{ oidcJson }}</pre>
    <TokensDetails :id-token="props.oidcUser.id_token" :access-token="props.oidcUser.access_token"
      :refresh-token="props.oidcUser.refresh_token" />
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { User } from 'oidc-client-ts';
import { helloService } from '@/services/backend/HelloService';
import TokensDetails from '@/components/TokensDetails.vue';

// eslint-disable-next-line
const props = defineProps<{ oidcUser: User }>();

const oidcJson = computed(() => JSON.stringify(props.oidcUser, null, 2));
const expire = computed(() => {
  if (props.oidcUser.expires_at) {
    const exp = new Date(0);
    exp.setUTCSeconds(props.oidcUser.expires_at);
    return `${exp.toLocaleString()}`;
  }
  return '?';
});

async function apiCall() {
  const hello: string = await helloService.hello();
  // eslint-disable-next-line
  alert(`says: ${hello}`);
}
</script>

<style scoped lang="scss">
pre {
  white-space: pre-wrap;
}
</style>
